/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body{
    background: #007bff !important;
}

a{
    font-weight: bolder;    
}

h5{
    color: #007bff;
}

p{
    font-weight: bolder;
}

.forheight{
    font-weight: bolder !important;
    height: 600px;
}

.forMargin{
    margin-top: 150px;
}